apiVersion: v1
kind: Service
metadata:
  name: wordpress
  namespace: {{ .Values.namespace }}
  labels:
    app: wordpress
spec:
  type: {{ .Values.service.type }}
  selector:
    app: wordpress
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 80
